/*  your css code here. If applicable */
body{
	background-color :  #f5f5f5;
}
.header{
	background-color : #011e29;
	text-align : center;
	padding : 10px;
	color : white;
}
.container{
	display : flex;
	
}
.card{
	background-color : #FFFFFF;
	padding : 10px;
	text-align : center;
	border-radius : 20px;
	
}
.latest-news-section{
	margin : 20px 4px;
	width : 30%;
}
.main-article{
	margin : 20px 4px;
	width : 40%;
	
}
.pictorial-news-section img{
	margin : 10px;
	width : 200px;
	height : 100px;
}
.pictorial-news-section{
	text-align : center;
	width : 30%;
}

